/* styles/home.css */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.home-wrapper {
  display: flex ;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.left-column,
.right-column {
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
}

.left-column {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-column {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-buttons {
  position: absolute;
  top: 20px;
  left: 20px;      
  display: flex;
  gap: 10px;
}

/* Botones login y register juntos */
.top-btn-group {
  display: flex;
  gap: 10px;
}

.top-btn {
  background: none;
  color: black;
  font-weight: 800;
  font-size: 14px;
  padding: 10px 18px;
  border: none;
  border-bottom: 2px solid black;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.top-btn:hover {
  transform: scale(1.05);
}

.subscribe-btn {
  margin-left: 80px; 
}

.welcome-title-home {
  font-size: 48px;
  font-weight: bold;
  color: #222;
  margin-bottom: 30px;
  line-height: 1.2;
}

.main-logo {
  max-width: 400px;      /* Más grande */
  width: 90%;
  border-radius: 20px;   /* Esquinas redondeadas */
  border: 3px solid #222; /* Borde visible */
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto;
}

.description-text-home {
  font-size: 20px;
  margin-bottom: 100px;
  color: #333;
}

.button-grid-home {
  display: grid;
  grid-template-columns: 500px 0px; /* ancho fijo para columnas */
  row-gap: 20px;       /* espacio vertical */
  column-gap: 100px;    /* espacio horizontal reducido */
  margin-bottom: 30px;
  justify-items: center;
}




.button-grid-home button {
  background-color: #000;
  color: #fff;
  padding: 16px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 300px;
  transition: 0.3s;
}

.button-grid-home button:hover {
  background-color: #333;
}

.divider-home {
  border: none;
  border-top: 4px solid black;
  margin: 30px 0;
}

.social-section-home {
  text-align: center;
}

.social-section-home p {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}

.social-icons-home {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons-home img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}


