.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  max-width: 700px;
  font-size: 24px;
}

.form-login {
  width: 100%;
  font-size: 24px;
}

.form-login label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-login input[type="text"],
.form-login input[type="password"] {
  width: 100%;
  padding: 14px 15px;
  font-size: 1.5rem;
  border: 3px solid black;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.btn-submit-login {
  background-color: black;
  border: none;
  color: white;
  padding: 12px 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 100%;
}

.btn-submit-login:hover {
  background-color: #222;
}

.divider {
  border: none;
  border-top: 3px solid black;
  margin: 30px 0;
}

.link-switch {
  font-size: 1.2rem;
  text-align: center;
}

.link-switch button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}
